<section class="container">

  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>My current position</h2>
    </div>
  </div>

  <div class="row">
    <table
      class="table table-bordered"
      *ngIf="issPosition">
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Altitude</th>
        <th>Velocity</th>
        <th>Visibility</th>
        <th>Timestamp</th>
        <th>Daynum</th>
        <th>Units</th>
      </tr>
      <tr>
        <td>{{ issPosition.name }}</td>
        <td>{{ issPosition.latitude | number:'1.3-3' }}</td>
        <td>{{ issPosition.longitude | number:'1.3-3' }}</td>
        <td>{{ issPosition.altitude | number:'1.3-3' }}</td>
        <td>{{ issPosition.velocity | number:'1.3-3' }}</td>
        <td>{{ issPosition.visibility }}</td>
        <td>{{ issPosition.timestamp }}</td>
        <td>{{ issPosition.daynum | number:'1.3-3' }}</td>
        <td>{{ issPosition.units }}</td>
      </tr>
    </table>
  </div>

  <div class="row">
    <button type="button"
            class="col-2 offset-5 btn btn--primary"
            [ngClass]="disabled? 'btn--disabled': ''"
            (click)="getPosition()"
            [disabled]="disabled">
      <span class="btn__text" *ngIf="!disabled">Get position</span>
      <span class="btn__spinner" *ngIf="disabled">
        <mat-spinner
          [color]="'primary'"
          [diameter]="20"
        ></mat-spinner>
      </span>
    </button>
  </div>
</section>
