.iss_header {
    background-image: url('/assets/img/1280px-STS-134_International_Space_Station_after_undocking.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.iss_header .intro-text {
    color: #99ad01;
}

hr.star-light {
    border-color: #99ad01;
}

hr.star-light:after {
    color: #ffb800;
    background-color: #99ad01;
}

.mapContainer {
  height: 60vh;
  width: 100%;
}
